<Slide />
<div class="block">
  <div class="row">
    <div class="about-column col-60">
      <h1><span>Об адвокате</span><span>Смирновой Евгении Васильевне</span></h1>
      <img src="assets/img/about_face.jpg" class="face" alt="Смирнова Е.В." />
      <br /><br />
      <p>Адвокат Московской городской коллегии адвокатов «Московский адвокат». Член Международного союза (содружества) адвокатов.</p>
      <p>Родилась в г. Йошкар-Оле Республики Марий Эл. В 1994 году закончила     с отличием Йошкар-Олинский строительный техникум (отделение правоведение) и поступила на заочное отделение юридического факультета Марийского Государственного Университета. </p>
      <p>Общий юридический стаж составляет 19 лет, из них в области адвокатуры — 13 лет. Имеет разностороннюю адвокатскую практику. Специализируется на сложных уголовных и гражданских делах, арбитраже. </p>
      <p>За многолетнюю работу в статусе адвоката имеет значительный опыт по оказанию правовой помощи юридическим лицам по вопросам оспаривания привлечения их к административной ответственности, о переводе прав и обязанностей покупателя по договорам купли-продажи акций, налоговым спорам.</p>
      <img src="assets/img/credo.png" class="credo" alt="" />
      <div class="block-certificates">
        <h2 class="same-h1"><span>Сертификаты и официальные сведения</span><span>адвоката Смирновой Евгении Васильевны</span></h2>
        <ul>
          <li><a href="assets/img/certificate_conflicts.jpeg" on:click|preventDefault="{() => show_img_in_popup(this)}">Сертификат участника вебинара "Корпоративные конфликты"</a><span class="annotation">Корпоративные конфликты: участники виды споров, способы разрешения.</span></li>
        </ul>
      </div>
    </div>
    <div class="col-40 practice-column">
      <h2>Из практики адвоката</h2>
      <div class="practice-item"><div class="practice-item">
        <h3><span>Подобрав кошелёк, можно угодить в тюрьму..</span><span>..или как всё благополучно окончилось</span></h3>
        <div class="annotation">Рыбкина О.А. (ФИО изменено) 12.03.2018 г. в 12:06 находилась в магазине “Евроспар” у прилавка в отделе “Домашняя кухня”, когда увидела у ранее ей знакомой Е.Е.Ю, найденный ей кошелёк, принадлежавший…
        <a href="/blog/second"><img src="assets/img/more_arrow.png" alt="Подробнее" /></a>
        </div>
        <div class="decision">
          <table>
            <tr>
              <td class="delo"><img src="assets/img/decision_lable.png" alt="Решение суда" /><span>Дело №1-***/2018</span></td>
              <td class="itog">освободить Рыбкину О.А., прекратив дело в связи с примирением сторон</td>
            </tr>
          </table>
        </div>
        <div class="delimiter"></div>
      </div>
        <h3><span>Подобрав кошелёк, можно угодить в тюрьму..</span><span>..или как всё благополучно окончилось</span></h3>
        <div class="annotation">Рыбкина О.А. (ФИО изменено) 12.03.2018 г. в 12:06 находилась в магазине “Евроспар” у прилавка в отделе “Домашняя кухня”, когда увидела у ранее ей знакомой Е.Е.Ю, найденный ей кошелёк, принадлежавший…
        <a href="/blog/second"><img src="assets/img/more_arrow.png" alt="Подробнее" /></a>
        </div>
        <div class="decision">
          <table>
            <tr>
              <td class="delo"><img src="assets/img/decision_lable.png" alt="Решение суда" /><span>Дело №1-***/2018</span></td>
              <td class="itog">освободить Рыбкину О.А., прекратив дело в связи с примирением сторон</td>
            </tr>
          </table>
        </div>
        <div class="delimiter"></div>
      </div>
      <div class="practice-item">
        <h3><span>Подобрав кошелёк, можно угодить в тюрьму..</span><span>..или как всё благополучно окончилось</span></h3>
        <div class="annotation">Рыбкина О.А. (ФИО изменено) 12.03.2018 г. в 12:06 находилась в магазине “Евроспар” у прилавка в отделе “Домашняя кухня”, когда увидела у ранее ей знакомой Е.Е.Ю, найденный ей кошелёк, принадлежавший…
        <a href="/blog/second"><img src="assets/img/more_arrow.png" alt="Подробнее" /></a>
        </div>
        <div class="decision">
          <table>
            <tr>
              <td class="delo"><img src="assets/img/decision_lable.png" alt="Решение суда" /><span>Дело №1-***/2018</span></td>
              <td class="itog">освободить Рыбкину О.А., прекратив дело в связи с примирением сторон</td>
            </tr>
          </table>
        </div>
        <div class="delimiter"></div>
      </div>
      <div class="practice-item">
        <h3><span>Подобрав кошелёк, можно угодить в тюрьму..</span><span>..или как всё благополучно окончилось</span></h3>
        <div class="annotation">Рыбкина О.А. (ФИО изменено) 12.03.2018 г. в 12:06 находилась в магазине “Евроспар” у прилавка в отделе “Домашняя кухня”, когда увидела у ранее ей знакомой Е.Е.Ю, найденный ей кошелёк, принадлежавший…
        <a href="/blog/second"><img src="assets/img/more_arrow.png" alt="Подробнее" /></a>
        </div>
        <div class="decision">
          <table>
            <tr>
              <td class="delo"><img src="assets/img/decision_lable.png" alt="Решение суда" /><span>Дело №1-***/2018</span></td>
              <td class="itog">освободить Рыбкину О.А., прекратив дело в связи с примирением сторон</td>
            </tr>
          </table>
        </div>
        <div class="delimiter"></div>
      </div>
      <div class="goto_practice">
        <div>
          <a href="/practice">Перейти к списку дел
          <img src="assets/img/more_arrow_solid.png" alt="Перейти к списку дел" /></a>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
    .about-column h1,
    .about-column p,
    .about-column .block-certificates {
      padding-left: 7px;
    }

    .block {
        padding-left: 103px;
        padding-right: 70px;
        vertical-align: top;
    }
    .about-column {
      text-align: justify;
      padding-right: 25px;
    }

    .about-column img.face {
      float: right;
      width: 200px;
      padding-left: 20px;
    }

    .about-column img.credo {
      margin-top: 5px;
      margin-bottom: 20px;
    }

    h1 {
        margin-bottom: 0px;
    }

    .about-column p {
      font-family: 'Liberation Sans Narrow Regular';
      font-size: 20px;
      line-height: 130%;
      margin: 0 0 15px 0;
    }

</style>
<script>
    import Slide from '../components/Slide.svelte'
    import { main_popup } from '../store.js';
    import { show_img_in_popup } from '../utils.js';


</script>