<script type="text/javascript">
  import { Router, Link, Route } from "svelte-routing";
  export let id; // this is passsed here from <Route path="blog_post/:id" component="{BlogPost}" />
</script>

  <h1>Blog Post</h1>
  
  <p>Текст записи в блоге.</p>
