<Slide />
<Router>
  <h1>Blog</h1>
  
  <ul>
    <li><Link to="first">TUI</Link></li>
    <li><Link to="second">Second</Link></li>
    <li><Link to="third">Third</Link></li>
  </ul>

  <Route path="first">
    <p>
      Tui Editor in action..
    </p>
  </Route>
  <Route path="second">
    <p>
      I did something awesome today. Lorem ipsum dolor sit amet, consectetur 
      adipisicing elit. Repudiandae enim quasi animi, vero deleniti dignissimos 
      sapiente perspiciatis. Veniam, repellendus, maiores.
    </p>
  </Route>
  <Route path="third">
    <p>
      I did something sweet today. Lorem ipsum dolor sit amet, consectetur 
      adipisicing elit. Modi ad voluptas rem consequatur commodi minima doloribus 
      veritatis nam, quas, culpa autem repellat saepe quam deleniti maxime delectus 
      fuga totam libero sit neque illo! Sapiente consequatur rem minima expedita 
      nemo blanditiis, aut veritatis alias nostrum vel? Esse molestias placeat, 
      doloribus commodi.
    </p>
  </Route>
</Router>

<script type="text/javascript">
  import { Router, Link, Route } from "svelte-routing";
  import Slide from '../components/Slide.svelte'
</script>
