  <Slide />
  <h1>Главная</h1>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p><p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p><p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p><p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p><p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p><p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p><p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>
  <p>sdassa</p>


<script type="text/javascript">
  import Slide from '../components/Slide.svelte'
</script>