<!-- Fixed/Dynamic Navbar -->
<div class="navbar" style="{css_style}">
    <div class="navbar-inner sliding">
        <div class="left">
            {#if Device.desktop == false }
                <SideBarToggle />
            {/if}
        </div>
        {#if Device.desktop == false }
            <div class="title sliding">Адвокат Смирнова Е.В.</div>
        {:else}
            <div class="block">
                <p class="row">
                    {#each $sidebar.items as {path, title, comp}}
                        <a href="/{path}" class="col button">{title}</a>
                    {/each}
                </p>
            </div>
        {/if}
    </div>
</div>

<style>
    .title { color: #fff; }
    .navbar {
        background-color: #003e6b;
        width: 100%;
        height: 64px;
    }
    a.button {
        font-size: 23px;
        text-transform: none;
        width: auto;
        font-family: 'Cuprum';
        color: #fff;
    }
    .block {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
</style>

<script type="text/javascript">
    import { sidebar } from '../store.js';
    import NavLink from "./NavLink.svelte";
    import SideBarToggle from './SideBarToggle.svelte';
    import { Device } from '../utils.js';
    import BlogPost from "../routes/BlogPost.svelte";

    export let margins = 0;
    export let width = 0;
    $: w = (width > 0) ? (width + 'px;') : '100%;';
    $: css_style = 'margin: 0 ' + margins + 'px 0 ' + margins + 'px; width: ' + w;

</script>



