{$main_popup.y}
{#if $main_popup.show}
    <div transition:fly="{{ y: 300, duration: 100 }}" class="popup popup-about" style="top: {$main_popup.y}">
        <div class="block">
            <p>About</p>
            <p><a class="link popup-close" href="#" on:click="{() => $main_popup.show = false}">Close popup</a></p>
            {@html $main_popup.content}
        </div>
    </div>
{/if}

<style>
    @import url('../../node_modules/framework7/components/popup.css');
    .popup {
        display: block;
        position: absolute;
    }
</style>
<script type="text/javascript">
    import { fly } from 'svelte/transition';
    import { onMount } from 'svelte';
    import { main_popup } from '../store.js';
    

</script>