<a href="javascript:;" 
    class="link icon-only panel-open" 
    data-panel="left" 
    on:click|stopPropagation={() => $sidebar.visible = !$sidebar.visible}>
    
    <i class="icon material-icons md-only">menu</i>
</a>

<style>
    .icon {
        color: #fff;
    }
</style>

<script type="text/javascript">
    import { sidebar } from '../store.js'
</script>