{#if $sidebar.visible }
    <div class="panel-backdrop" style="{$sidebar.visible ? 'display: block; opacity: 0.5;' : 'display: none; opacity: 0;'}" on:click|stopPropagation={() => $sidebar.visible = false}></div>
    <!-- Left panel -->
    <div transition:fly="{{ x: -260, duration: 100 }}"
        class="panel panel-left panel-cover theme-dark panel-active" style="display: block;">
        <div class="view">
            <div class="page">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="title">Меню</div>
                    </div>
                </div>
                <div class="page-content">
                    <div class="list links-list">
                        <ul>
                            {#each $sidebar.items as {path, title, comp}}
                                <li><a href="/{path}" class="panel-close">{title}</a></li>
                            {/each}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/if}

<style>
    @import url('../../node_modules/framework7/components/panel.css');
    .panel-left {
        left: 260px;
    }
    .panel-backdrop {
        background-color: black;
    }
</style>

<script type="text/javascript">
    import { navigate } from "svelte-routing";
    import { fly } from 'svelte/transition';
    import { sidebar } from '../store.js'

</script>