<img class="slide" src="{ $sidebar.items[1].slide }" alt="{ $sidebar.items[1].title }" />

<style>
    .slide { 
        width: 100%; 
    }
</style>
<script>
    import { sidebar } from '../store.js';
</script>