<svelte:window on:resize={left_and_right_fields}/>
<Popup />
{#if Device.desktop == false }
  <SideBar />
{/if}
<div class="view view-main safe-areas">
<NavBar margins={field_width} width={navbar_width} />
<!-- Scrollable page content -->
<div class="page-content" style="{css_padding}">
  <Router url="{url}">
      <div class="paper">
        {#each $sidebar.items as {path, title, comp}}
            <Route path="{path}" component="{comp}" />
        {/each}
        <Route path="blog/:id" component="{BlogPost}" />
      </div>
  </Router>
</div>
</div>
<style>
.paper {
  background-color: #fff;
  -webkit-box-shadow: 2px 1px 5px -1px rgba(0,0,0,0.57);
  -moz-box-shadow: 2px 1px 5px -1px rgba(0,0,0,0.57);
  box-shadow: 2px 1px 5px -1px rgba(0,0,0,0.57);
  width: 100%;
  padding-top: var(--f7-navbar-height);
}
.view-main  {
  
}
.page-content {
  overflow-y: scroll;
}
</style>

<script type="text/javascript">
  // import About2 from "./routes/Blog.svelte";

  // General components
  import Popup from './components/Popup.svelte';


  import SideBar from './components/SideBar.svelte';
  import SideBarToggle from './components/SideBarToggle.svelte';
  import NavBar from './components/NavBar.svelte';
  import NavLink from "./components/NavLink.svelte";
  import BlogPost from "./routes/BlogPost.svelte";

  // Navigation
  import { sidebar } from './store.js';

  // Routing
  import { Router, Route } from "svelte-routing";
  // Used for SSR. A falsy value is ignored by the Router.
  export let url = "";

  // HTML adapter for different devices
  import { MakeDeviceCSS, Device } from './utils.js';
  MakeDeviceCSS(); // set class attribute for <html> tag

  // Make page centered whenever window size is.
  import {document, window} from 'ssr-window';
  let field_width = 0;
  let page_width = 1195;
  let navbar_width = 1180; //because of scroll bar (15px)

  function left_and_right_fields() {
    field_width = (window.innerWidth >= 1195) ? (window.innerWidth - 1195) / 2 : 0;
    navbar_width = (window.innerWidth >= 1180) ? 1180 : window.innerWidth;
  }
  left_and_right_fields();
  $: css_padding = 'padding: 0 ' + field_width + 'px 0 ' + field_width + 'px';

</script>


